<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Car</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <h3 class="mt-4">Edit Car</h3>

        <form th:action="@{/car/editCar}" th:object="${car}" method="post" class="mt-4">
            <input type="hidden" th:field="*{carId}" />
            <div class="form-group">
                <label for="carName">Car Name</label>
                <input type="text" th:field="*{carName}" class="form-control mb-4 col-4" id="carName"
                    placeholder="Enter car name">
            </div>

            <div class="form-group">
                <label for="carColor">Car Color</label>
                <input type="text" th:field="*{carColor}" class="form-control mb-4 col-4" id="carColor"
                    placeholder="Enter car color">
            </div>

            <div class="form-group">
                <label for="carQuantity">Car Quantity</label>
                <input type="number" th:field="*{carQuantity}" class="form-control mb-4 col-4" id="carQuantity"
                    placeholder="Enter car quantity">
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>